<header>
    <img src="/images/content/logostm.svg" alt="" class="logo">
    <form action="#" class="search">
        <input type="text" class="search__input" placeholder="Search anything...">
    </form>
    <div class="user-nav">
        <span class="user-nav__user-name">John Doe</span>
        <div class="user-nav__user-shape">
            <img src="https://picsum.photos/100" alt="User photo" class="user-nav__user-photo">
        </div>
    </div>
</header>
