<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sürücü təlim mərkəzi</title>
</head>
<body class="main-bg">


<div class="container">
        <%= require('html-loader!./_header.html') %>

        <div class="content">
            <nav class="sidebar">
                <ul class="main-nav">
                    <li class="main-nav__item main-nav__item--active">
                        <a href="" class="main-nav__link">
                            <svg class="main-nav__icon">
                                <use xlink:href="images/icons/sprite.svg#icon-dashboard"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="main-nav__item">
                        <a class="open-dropdown">SÜRÜCÜ TƏLİM MƏRKƏZİ</a>
                        <ul class="side-dropdown">
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-steering-wheel"></use>
                                    </svg>
                                    Təlimlər
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-speaker"></use>
                                    </svg>
                                    Tədbir
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-calendar"></use>
                                    </svg>
                                    Təlimlərin cədvəli
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-increase"></use>
                                    </svg>
                                    Hesabatlar
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-nav__item">
                        <a class="open-dropdown">VAHİD SÜRÜCÜ BAZASI</a>
                        <ul class="side-dropdown">
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-check-mark"></use>
                                    </svg>
                                    Fəaliyyətdə olan sürücü
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-hand"></use>
                                    </svg>
                                    Ehtiyyatda olan sürücü
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-taxi-driver"></use>
                                    </svg>
                                    Nəzarətdə olan sürücü
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-clear"></use>
                                    </svg>
                                    Fəaliyyəti dayandırılmış sürücü
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-disabled"></use>
                                    </svg>
                                    Boş sürücü yerləri
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-google-forms"></use>
                                    </svg>
                                    Sürücü məlumat bazası
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-referee"></use>
                                    </svg>
                                    Cərimə və ballar
                                </a>
                            </li>
                            <li class="side-dropdown__item">
                                <a href="" class="side-dropdown__link">
                                    <svg class="side-dropdown__icon">
                                        <use xlink:href="images/icons/sprite.svg#icon-increase"></use>
                                    </svg>
                                    Hesabatlar
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-nav__item">
                        <a href="" class="main-nav__link">
                            <svg class="main-nav__icon">
                                <use xlink:href="images/icons/sprite.svg#icon-settings"></use>
                            </svg>
                            Tənzimləmələr
                        </a>
                    </li>
                </ul>
            </nav>
            <main class="content-view">
                <div class="overview">
                    <h1 class="overview__title">Fəaliyyətdə olan sürücülər</h1>
                    <div class="overview__btns">
                        <a href="" class="overview__btn">
                            <svg class="overview__icon">
                                <use xlink:href="images/icons/sprite.svg#icon-print"></use>
                            </svg>
                            Çap et
                        </a>
                        <a href="" class="overview__btn">
                            <svg class="overview__icon">
                                <use xlink:href="images/icons/sprite.svg#icon-add"></use>
                            </svg>
                            Kart yarat
                        </a>
                    </div>
                </div>
            </main>
        </div>

        <%= require('html-loader!./_footer.html') %>
    </div>

</body>
    <%= require('html-loader!./_footer.html') %>
</html>
