/**
 * Variables
*/

/* Typography */

$lora: 'Lora', serif;
$nunito: 'Nunito Sans', sans-serif;
$sofia: 'Sofia Pro', sans-serif;

/*Colors*/

$bg-color: #1E1D2A;
$white: #fff;
$black: #000;
$bg-sidebar: #222432;
$color-header: #635E71;


:root {
  //Can be acessed trought de javascript
  //Custom CSS variables
  --color-hover: #D93864;
  --color-hover-bg: #2E3040;
}
