/*
  *************** Header
 */
.logo {
  width: 168px;
  height: 35px;
}
.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    background-color: rgba($white, 0.1);
    font-family: inherit;
    font-size: inherit;
    font-weight: 100;
    color: $white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 18px;
    width: 90%;
    margin-left: -220px;

    &:focus {
      outline: none;
      width: 95%;
      transition: all 0.4s;
    }

    transition: all 0.4s;

    &::-webkit-input-placeholder {
      color: $white;
      opacity: .5;
    }
  }

}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__user-name {
    color: $white;
    margin-right: 30px;
    font-weight: 300;
  }
  &__user-shape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 47px;
    background: linear-gradient(to right, #D367FF ,#480CC0);
    border-radius: 50%;
  }
  &__user-photo {
    height: 43px;
    width: 43px;
    border-radius: 50%;
  }
}
/*
  *************** Sidebar
 */
.main-nav, .side-dropdown {
  &__link:link,
  &__link:visited {
    color: rgba($white, 0.4);
    text-decoration: none;
    padding: 15px 25px;
    display: flex;
    font-weight: 200;
    align-items: center;
  }

  &__link:hover {
    background: var(--color-hover-bg);
    border-radius: 8px;
    color: var(--color-hover);
    opacity: 1;
  }

  &__link:hover > &__icon {
    opacity: 1 !important;
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    fill: currentColor;
  }

}
.main-nav {
  position: relative;
  height: 100%;
  padding-top: 25px;
  font-size: 18px;
  list-style: none;

  &__item {
    padding: 0 12px;
    display: block;

    &:last-child {
      padding: 10px;
      width: 100%;
      border-top: 1px solid rgba($white, .4);
      position: absolute;
      bottom:0;
    }
  }


  &__item--active > &__link{
    background: var(--color-hover-bg);
    border-radius: 8px;
    color: var(--color-hover) !important;
  }

  .open-dropdown {
    font-size: 12px;
    color: rgba($color-header, 0.8);
    text-transform: uppercase;
    margin-left: 25px;
    display: block;
    padding: 8px 0;
    cursor: pointer;
  }

  .closed-dropdown {
    font-size: 18px !important;
    color: rgba($color-header, 0.8);
    text-transform: uppercase;
    margin-left: 25px;
    display: block;
    margin-top: 5px;
    padding: 15px 0px;
    cursor: pointer;
  }

  .close {
    display: none;
  }

  .open {
    display: block;
  }
}



/*
  *************** Content
 */

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 32px;
    color: $white;
  }

  &__btns {
    display: flex;
  }

  &__btn:link, &__btn:visited {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--color-hover);
    border-radius: 8px;
    color: $white;
    &:not(:last-child){
      margin-right: 24px;
    }
  }

  &__btn:hover {
    background: var(--color-hover);
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    fill: currentColor;
  }
}

/*
********Login
 */

.login-wrap {
  font-family: $sofia;
  background: var(--color-hover-bg);
  padding: 60px 110px;
  border-radius: 12px;

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;

    &__logo {
      width: 307px;
      height: 64px;
      margin-bottom: 65px;

    }

    &__form {
      width: 100%;
    }
    &__input-group {
      position: relative;
    }

    &__show-icon {
      position: absolute;
      width: 18px;
      height: 11px;
      fill: $white;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }
    &__input {
      width: 100%;
      padding: 11px 16px 13px 16px;
      background: $bg-color;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 8px;
      margin-bottom: 28px;
      color: $white;
      outline: none;
    }

    &__input:focus, &__input:active{
      border: 1px solid rgba(255, 255, 255, 0.25);
    }

    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover,
    &__input:-webkit-autofill:focus,
    &__input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px $bg-color inset !important;
      border: 1px solid rgba(255, 255, 255, 0.25) !important;
    }

    &__input:-webkit-autofill {
      -webkit-text-fill-color: #fff !important;
    }

    &__input::-webkit-input-placeholder {
      font-family: $sofia;
      color: $white;
      opacity: .5;
      font-weight: 100;
    }

    &__btn {
      font-family: inherit;
      position: relative;
      width: 100%;
      padding: 12px 0;
      background: var(--color-hover);
      border-radius: 8px;
      color: $white;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: 200;
      margin-bottom: 34px;
    }

    &__btn:hover {
      box-shadow: 0px 3px 7px -5px #fff;
      transform: scale(1.03);
    }

    &__btn:active {
      box-shadow: 0px 2px 5px #fff;
      transform: scale(.98);
    }
  }
}
