.main-bg {
  background: $bg-color;
  font-family: $sofia;
  font-weight: 400;
}
.container {
  &--login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

header {
  padding: 12px 76px;
  height: 65px;
  border-bottom: 1px solid rgba($white, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  .side-nav {
    &__link {
      color: #fff;
    }
  }
}

.content {
  display: flex;

}

.sidebar {
  background-color: $bg-sidebar;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 1015px;
}

.content-view {
  flex: 1;
  padding: 80px 76px;
}

